
@-webkit-keyframes gradColor {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes gradColor {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes gradColor { 
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}

body {   
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.15);
    background: linear-gradient(270deg, #145041, #342466, #1e3f76, #572463);
    background-size: 1400% 1400%;

    -webkit-animation: gradColor 50s ease infinite;
    -moz-animation: gradColor 50s ease infinite;
    animation: gradColor 50s ease infinite;  
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;               
    font-weight: 700;                
}

a {
    color: #fff;
    text-decoration: none;
}


.forstall-u, .forstall-o:hover {
    cursor: vertical-text;
}

a:hover {   
    text-decoration: line-through;
}

.recipient {
    margin-top: 20px;
}

.footy {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 320px) {
    .o-boi.forstall-u {
        position: relative;
        top: -4px;
        font-size: 75%;        
    }

    .o-boi.forstall-o {
        position: relative;
        top: -4px;
        font-size: 78%;
        padding: 0.03em;
    }

    .rangee {
        width: 100%;
        text-align: center;        
    }

    .relier {
        margin-top: 40px;        
        width: 100%;    
    }

    .relier a {
        font-size: 45px;             
        display: block;
        float: left;
        width: 50%;
        height: 28%;
    }

    .relier a:hover {
        color: rgba(255, 255, 255, 0.7);            
    }    
}

@media only screen and (min-width: 768px) {
    
    .o-boi {        
        top: -5px;        
    }    
    
    .rangee {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;   
        transform: translateY(-50%);
    }

    .relier {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 150px;    
    }

    .relier a {    
        font-size: inherit;
        margin: 10px;
        display: block;
        float: left;
        width: 50px;
        height: 50px;
    }

    .relier a:hover {
        color: inherit;
        font-size: 105%;            
    }
}
