body {   
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.15);
    
    
    background: linear-gradient(270deg, #145041, #342466, #1e3f76, #572463);
    background-size: 1400% 1400%;

    -webkit-animation: gradColor 50s ease infinite;
    -moz-animation: gradColor 50s ease infinite;
    animation: gradColor 50s ease infinite;  
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {   
    text-decoration: line-through;
}

.rangee {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;   
    transform: translateY(-50%);
}

.nom {
    text-transform: uppercase;               
    font-weight: 700;                
}

.relier {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;    
}

.relier a {    
    margin: 10px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
}

.relier a:hover {
    /*color: rgba(255, 255, 255, 0.7);*/    
    font-size: 105%;
}

@-webkit-keyframes gradColor {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes gradColor {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes gradColor { 
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}

